@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-white text-gray-800 antialiased;
}

.section-title {
  @apply text-4xl font-bold text-gray-900 text-center mb-3;
}

.section-subtitle {
  @apply text-center text-gray-600 mb-12 max-w-xl mx-auto;
}